@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:500&display=swap);
body{
    position:absolute;
    left:0;
    left:0;
    width: 100;
    height:100;
    font-family:"Roboto",sans-serif;
    background-color: #180148;
    overflow: hidden;

}
 .table{
     display:table;
     width:100;
     height:100;

 }

 .table-cell{
    display: table-cell;
    vertical-align: middle;
    -moz-transition: all 0.5s;
    -o-transition:all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;


 }
 .container{
     position:realative;
     width: 600px;
     margin: 30px auto 0;
     height:320px;
     background: color #999ede;
     top: 50%;
     margin: top -160px;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     -webkit-transition: all 0.5s;

 }
 .container.box {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: hidden;

 }
 .container.box:before, .container .box:after{
      content:" ";
      position: absolute;
      left:152px;
      top:50px;
      background-color:#9297e0;
      transform:rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
      width:300px;
      height:285px;
      -moz-transition: all 0.5s;
      -o-transition: all0.5s;
      -webkit-transition:all 0.5s;
    transition:all 0.5s;
 }
  .container .box:after{
     background-color: #a5aae4;
     top: -10px;
     left: 10px;
     width: 320px;
     height: 180px;
  }
   .container.container-forms{
      position: relative;

   }
   .container.btn{
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    width:60px;
    color:#fff;
    background-color: #ff73b3;
    opacity: 1;
    -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     -webkit-transition:all 0.5s;
    transition:all 0.5s;


   }
   .container .btn:hover{
    opacity: 0.7;
    
   }
   .container.btn, .container input{
     padding: 10px 15px;

   }
   .container input{
    margin:0 auto 15px;
    display:block;
    width:220px;
    -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     -webkit-transition:all 0.3s;
    transition:all 0.3s;

   }
   .container. container-forms .container.info{
    text-align: left;
    font-size: 0;
   }
    .container. container-forms. container-info .info-item{
    text-align: center;
    font-size: 16px;
    width: 300px;
    height:320px;
    display: inline-block;
    vertical-align: top;
    color:#fff;
    opacity:1;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition:all 0.3s;
   transition:all 0.3s;


   }
   .container.container-forms .container-info .info-item{
    font-size:20px;
    margin:20px;
   }
   .container.active .container-form{
    left: 30px;
    width: 200px;
    height: 200px;

   }
   .container .active .container-form:before{
    content:"
   }

